# Node Modules
/frontend/node_modules
/backend/node_modules
/node_modules

# Config files
/backend/config/*
/frontend/src/config/*
/frontend/src/config/
# Environment variables
.env*.local
.env
/frontend/env
/backened/env

# React stuff
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*